<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="BackgroundImage">
  	<div class="videoWrapper">
		<iframe width="100%" height="315" src="https://www.youtube.com/embed/lqmg1DprP-4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="width:95%;">
        	<img src="img/deals/90.png" style="width:50%; margin-top:3px;" />
			<!--
            <img src="img/suppliers/search.jpg" style="width:100%; margin-top:5px;" ng-click="ShowSearch()"/>
			-->
			<div >
                  <label >
				   <select class="loginInput" ng-model="search.type">
					<option   value="1" selected>חתונה</option>
					<option   value="2">בר\בת מצווה</option>
					<option   value="3">ברית\ה</option>
					<option   value="4">חינה</option>
					<option   value="5">יום הולדת</option>
					<option   value="6">אחר</option>
				   </select>
                  </label>
				 <!--
                <div ng-click="searchDealsBtn()" style="margin-top:5px;">
                    	<img src="img/back.png" style="width:48%; " />
            	</div>
				-->
			</div>
			<!-- | filter:searchDeals -->
            <!-- <div ng-repeat="item in Suppliers">-->
            <div ng-repeat="deal in Deals | filter: findDeals(search.type)" my-repeat-directive>
                <a href="#/app/dealsInfo/{{deal.id}}">
                    <div class="dealDiv">
                        <img ng-src="{{Imghost}}/{{deal.big_img}}" style="width:100%; position:relative; top:0; left:0; z-index:0;"  />
						<!--
					   <div id="percent">
                            <div id="percentImg">
                                <p id="percentText">&nbsp;{{deal.discount_precent}}% <br>הנחה</p>
                                <img src="img/deals/percent.png" />
                            </div>
                        </div>
						-->
						<!--
                        <div id="overlayImage">
                            <div id="overImg"></div>
							
                            <div id="overlayRight">
                                <p id="dealInfo1">{{deal.title}}</p>
								<!--
                                <p id="dealInfo2">{{deal.description | cutString_TitlePage:true:60}}</p>
								
                                <div id="dealInfo3">
                                     <span id="newPrice">{{deal.reg_price}}</span> <span id="oldPrice">{{deal.deal_price}}</span>
                                </div>
                            </div>
						
                            <div id="overlayLeft" style="">
                                <img src="img/deals/date.png" style="height:70px; margin-top:5px; float:left; margin-left:20px;" />
                                <div id="dateText">
                                    <p id="dateText1">{{cutDate(deal.date)}}</p>
                                    <p id="dateText2">20{{cutYear(deal.date)}}</p>
                                </div>
                            <div>
                        </div>
                    </div>
						-->
                 </a>
             </div>
            <!-- </div>-->
         </div>
    </div>
  </ion-content>
</ion-view>
