<ion-modal-view>
  <ion-header-bar style="background-color:#dedad7">
  	<div style="" align="center">
    	<div class="buttons">
          <button class="button button-clear" side="left" ng-click="closeModal(0)"><i class="ion-ios-arrow-back" style="color:white"></i> </button>
        </div>
        <img class="title" src="img/logo.png" style="width:110px; height:25px; margin-top:10px; margin-left:120px;"/>
    </div>
  </ion-header-bar>
  <ion-content class="BackgroundImage">
   <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> 
    </ion-list>-->
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
            <!-- Header -->

            <!-- Input Text -->
            <div class="loginForm">
            	<img src="img/reg.png" style="width:40%; margin-top:20px;" />
                <div>
                  <label >
                    <input type="text" placeholder="שם מלא" class="loginInput" style="margin-top:5px; color:white;" ng-model="contact.name">
                  </label>
                  <label>
                    <input type="text" placeholder='כתובת דוא"ל' class="loginInput" ng-model="contact.email" style="margin-top:10px;">
                  </label>
                  <label >
                    <input type="text" placeholder="מספר טלפון" class="loginInput" style="margin-top:10px;" ng-model="contact.phone">
                  </label>
                  <label >
				<textarea rows="4" cols="50" ng-model="contact.desc" placeholder="הערות כלליות" class="loginInput" style="margin-top:10px;"></textarea>
                  </label>				  
                </div>
                <div ng-click="SendDeal()">
                    	<img src="img/okBtn.png" style="width:68%; " />
            	</div>

            </div>
         </div>
    </div>
  </ion-content>
</ion-modal-view>
